# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl: 
url: /yuandunlong.github.io
date_format: "ordinal"
title: 大漠刀客
subtitle: "打码改变人生"
description: "袁敦龙的个人博客"
keywords: java,yuandunlong,袁敦龙,码农
favicon: /favicon.ico
timezone: Asia/Shanghai
encoding: "utf-8"
side_bar_repo_limit: 5

# ---------------- #
#      Author      #
# ---------------- #
author: yuandunlong
organization: alipay.com
organization_url: http://www.yuandunlong.com
github_username: yuandunlong
location: Chengdu, China
email: yuandunlong@gmail.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 8
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

repository: mzlogin/mzlogin.github.io

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment
comments_provider: gitment
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: yuandunlong
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: yuandunlong
    repo: blog-comments
    oauth:
        client_id: e463665aa2d4f75a1254
        client_secret: 3cb96451d3dcd9e44f98441db1869093025bad74
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : true

# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-80669434-1
theme: jekyll-theme-slate
